<ion-content class="ion-padding background-container">
  <div class="content-overlay">
    <div class="title-container">
      <h1>Ready for a <br><span class="highlight">DejaBrew</span><br>moment?</h1>
      <p class="description">Join us and make today a memory</p>
      <p class="second-description description">worth repeating.</p>
    </div>

    <div class="button-container">
      <a routerLink="/login">
        <app-custom-button text="Sign In" customClass="signInButton"></app-custom-button>
      </a>

      <a routerLink="/signup">
        <app-custom-button text="Register" customClass="signUpButton"></app-custom-button>
      </a>
    </div>
  </div>
</ion-content>