<ion-content class="ion-padding">
  <app-back-button></app-back-button>

  <div class="ion-text-center">
    <p class="text-head">
      Missed Us?<br>
      <strong>Sign in to continue</strong>
    </p>

    <h2>
      <span class="title">DejaBrew</span>
    </h2>

    <ion-card class="card-padding">

      <div class="input-container">
        <label for="username">Username:</label>
        <input id="username" type="text" placeholder="Enter your username" class="custom-input username-input" />
      </div>

      <div class="input-container">
        <label for="password">Password:</label>
        <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password"
          class="custom-input password-input" />
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
        </span>
      </div>

      <div class="forgot-password">
        <a href="#" class="forgot-password">Forgot Password?</a>
      </div>

      <!-- custom button component -->
      <app-custom-button text="Sign In" customClass="signInButton"></app-custom-button>

      <div class="or-section">
        <p>or</p>
      </div>

      <div class="social-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-google"></ion-icon>
      </div>
    </ion-card>

    <p class="signUp">Don't have an account? <a routerLink="/signup">Register.</a></p>
  </div>
</ion-content>

