// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    
    --ion-background-color: #F9F2ED;
    --ion-card-background: #ffffff;
    --ion-button-border-radius: 10px;
}

// :root {
//     --ion-background-color: #59392C;
//     /* Set global background color */
//     --ion-text-color: #ffffff;
//     /* Set global text color */
//     --ion-button-background: #59392C;
//     /* Button background color */
//     --ion-button-text-color: #ffffff;
//     /* Button text color */
//     --ion-card-background: #f4f4f4;
//     /* Card background color */
// }

