<ion-content class="ion-padding">
  <ion-icon class="backBtn" name="chevron-back-outline"></ion-icon>

  <div class="ion-text-center">
    <p class="text-head">Wanna Taste Sweet Memories? </p>
    <p class="text-subhead"><strong>Sign up to continue</strong></p>

    <h2>
      <span class="title">DejaBrew</span>
    </h2>

    <ion-card class="card-padding">
      <div class="input-container">
        <label>Username:</label>
        <ion-input id="username" placeholder="Enter your username" fill="outline" [clearOnEdit]="true"
          class="custom-input ios-input username-input"></ion-input>
      </div>

      <div class="input-container">
        <label>Email:</label>
        <ion-input id="username" placeholder="Enter your email" fill="outline" [clearOnEdit]="true"
          class="custom-input ios-input username-input"></ion-input>
      </div>

    <div class="input-container">
      <label>Password:</label>
      <ion-input id="password" placeholder="Enter your password" [type]="showPassword ? 'text' : 'password'" fill="outline"
        [clearOnEdit]="true" class="custom-input ios-input password-input">
      </ion-input>
      <span class="eye-icon" (click)="togglePasswordVisibility('password')">
        <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
      </span>
    </div>
    
    <div class="input-container">
      <label>Confirm Password:</label>
      <ion-input id="confirmPassword" placeholder="Confirm your password" [type]="showConfirmPassword ? 'text' : 'password'"
        fill="outline" [clearOnEdit]="true" class="custom-input ios-input password-input">
      </ion-input>
      <span class="eye-icon" (click)="togglePasswordVisibility('confirmPassword')">
        <ion-icon [name]="showConfirmPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
      </span>
    </div>



      <!-- custom button component -->
      <app-custom-button text="Sign In" customClass="signInButton"></app-custom-button>
    </ion-card>

    <p class="register">
      Already have an account? <a routerLink="/login">Register</a>
    </p>
  </div>
</ion-content>