<ion-content class="ion-padding">
  <app-back-button path="/onboarding-4"></app-back-button>

  <div class="ion-text-center">
    <p class="text-head">
      Missed Us?<br>
      <strong>Sign in to continue</strong>
    </p>

    <h2>
      <span class="title">DejaBrew</span>
      <img src="assets/images/CoffeeBean.png" alt="Logo" class="h2-image" />
    </h2>


    <ion-card class="card-padding">

      <div class="input-container">
        <label for="username">Username:</label>
        <input id="username" type="text" placeholder="Enter your username" class="custom-input username-input" />
      </div>
      
      <div class="input-container">
        <label for="username">Email:</label>
        <input id="email" type="email" placeholder="Enter your email" class="custom-input username-input" />
      </div>

    <div class="input-container">
      <label for="password">Password:</label>
      <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password"
        class="custom-input password-input" />
      <span class="eye-icon" (click)="togglePasswordVisibility('password')">
        <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
      </span>
    </div>
    
    <div class="input-container">
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm your password"
        class="custom-input password-input" />
      <span class="eye-icon eye-confirm" (click)="togglePasswordVisibility('confirmPassword')">
        <ion-icon [name]="showConfirmPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
      </span>
    </div>


      
      <!-- custom button component -->
      <app-custom-button text="Register" customClass="signInButton"></app-custom-button>


    </ion-card>

    <p class="signIn">Already have an account? <a routerLink="/login">Sign In</a></p>
  </div>
</ion-content>