<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HOME PAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboarding-4</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-product-card [product]="{
      ratingIconUrl: 'assets/images/star.png',
      rating: 4.5,
      title: 'Strawberry Blush Frost',
      price: 1000,
      productImageUrl: 'assets/images/strawberry.png',
      favorite: false,
      productId: 123,
      productPath: '/product-details/123' 
    }">
  </app-product-card>
</ion-content>