// ion-content,
// .coffee-container,
// .image-banner,
// .product-label {
//     border: 1px solid red;
//     /* Debug styles */
// }
/* Header Styles */


ion-header {
    --background: #332218;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    overflow: hidden;
    height: auto;
}

.combined-toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    --background: #332218;
    color: #fff;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-left:10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
}

ion-icon {
    font-size: 24px;
    color: var(--ion-color-light);
}

.description {
    font-size: 12px;
    font-weight: 300;
    margin: 0px 10px;
    text-align: left;
    color: #fff;
}

.search-bar {
    --background: #D9D9D9;
    --placeholder-color: var(--ion-color-medium);
    --color: var(--ion-color-dark);
    --border-radius: 50px;
    margin-top: 5px;
    padding: 10px;
}

/* Content Styles */
ion-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 240px);
    overflow-y: auto;
}
ion-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Snacks Styles */
.coffee-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.content {
    flex: 1;
    max-width: 70%;
}

.content h1 {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #633E27;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 800;
}

.view-menu {
    color: white;
    margin-bottom: 5px;
    font-size: 0.7rem;
    --padding: 4px 0px;
    max-width: 250px;
    --background: #633E27;
}

.icons {
    display: flex;
    gap: 6px;
    margin-top: 5px;
    margin-left: 5px;
}

.icon {
    font-size: 1rem;
    background-color: #633E27;
    padding: 6px;
    border-radius: 30%;
    color: #fff;
}

.image {
    width: 200px;
    height: 200px;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: contain;
}

/* Banner1 */
.image-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-banner img {
    width: 90%;
    height: auto;
    object-fit: fill;
    border-radius: 15px;
    display: block;
    margin-top: 15px;
    max-height: 200px;
}


/* Product Label Styles */
.product-label {
    color: #633E27;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    margin: 0px 0 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-more-button {
    font-size: 14px;
    color: #313131;
    padding: 0;
    text-transform: none;
}

.best-label{
    margin-top: 10px;
    margin-bottom: 0;
}
.hot-label{
    margin-top: -5px;
}
.noncoffee-label{
    margin-top: -5px;
    margin-bottom: 0;
}
.cold-label{
    margin-bottom: 0;
}
.pastry-label {
    margin-bottom: -10px
}

/* Swiper Container */
.swiper-container {
    width: 100%;
    padding-left: 10px;
    z-index: 10;
    height: auto;
}

/* Slide Styles */
swiper-slide {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

app-product-card {
    width: 48%;
    margin-bottom: 10px;
}

.search-bar {
    margin-top: 10px;
}

/* FOOTER */
// .footer {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     background-color :#332218;
//     padding: 10px 0;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     border-top: 2px solid #F9F2ED;
//     color: white;
//     z-index: 1;
// }

// .footer-button {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     color: white;

// }

// .footer-button ion-icon {
//     font-size: 24px;
// }

.navigation {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    height: 70px;
    background: #332218;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 100;
}

.navigation ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px ;
    padding-right: 10px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation ul li a .footer-icon {
    position: relative;
    display: flex;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    transform: translateY(20px);
}

.navigation ul li.active a .footer-icon {
    transform: translateY(-15px);
}

.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(40px);
}

.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    background: #B6734E;
    border-radius: 50%;
    border: 6px solid #F9F2ED;
}
.last-slide {
    padding-right: 20px;
}
.first-slide {
    padding-left: 20px;
}
/* Responsive Style */
@media (max-width: 768px) {
    ion-content{
        height: calc(100% - 230px);
    }
    .content {
        max-width: 80%;
    }
    .content h1 {
        font-size: 1.5rem;
    }

    .view-menu {
        font-size: 0.8rem;
        max-width: 500px;
        margin-bottom: 10px;
    }

    .icon {
        font-size: 1.2rem;
        padding: 8px;
    }

    .image {
        width: 250px;
        height: 210px;
    }
    
    .image-banner img {
        width: 95%;
    }
    .product-label {
        font-size: 20px;
    }

    .see-more-button {
        font-size: 16px;
    }
    .best-label{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .navigation ul {
        padding-left: 80px ;
        padding-right: 70px;
    }
}

@media (max-width: 480px) {
    ion-content{
        height: calc(100% - 238px);
    }
    .content h1 {
        font-size: 1rem;
    }

    .view-menu {
        font-size: 0.7rem;
        padding: 3px 0px;
        max-width: 200px;
    }

    .icons {
        gap: 4px;
    }

    .icon {
        font-size: 1rem;
        padding: 6px;
    }

    .content {
        max-width: 100%;
    }
    
    .image-banner img {
        width: 90%;
    }
    .image {
        width: 140px;
        height: 180px;
    }

    .product-label {
        font-size: 16px;
    }

    .see-more-button {
        font-size: 14px;
    }
    .navigation ul {
        padding-left: 30px ;
        padding-right: 20px;
    }
}
@media (max-width: 320px) {
    .content h1 {
        font-size: 0.9rem;
    }
    .coffee-container {
        margin-top: -10px;
    }
    .view-menu {
        font-size: 0.7rem;
        padding: 3px 0px;
        max-width: 200px;
    }

    .icons {
        gap: 4px;
    }

    .icon {
        font-size: 1rem;
        padding: 6px;
    }

    .content {
        max-width: 100%;
    }

    .image {
        width: 120px;
        height: 180px;
    }

    .product-label {
        font-size: 14px;
    }

    .see-more-button {
        font-size: 12px;
    }
    .navigation ul {
        padding-left: 10px ;
        padding-right: 0px;
    }
}


