::ng-deep product-card-component .product-image {
    height: 500px;
    /* New height for product image */
    width: auto;
    /* Adjust width if needed */
    object-fit: contain;
    object-position: center;
}